/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-grey-pale: #f2f2f2;
  --special-grey: #d9d9d9;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-70: rgba(255, 255, 255, 0.7);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-60: rgba(0, 0, 0, 0.6);
}

/* Global */

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.wrapper {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
}

/* Button */

.button {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background: linear-gradient(transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%);
  padding: 9px 10px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
}

.button:active {
  color: var(--black-30);
}

/* Logo */

.logo {
  display: block;
  width: 163px;
  height: 35px;
}

.logo[href="index.html"]:hover,
.logo[href="index.html"]:focus {
  opacity: 0.6;
}

.logo[href="index.html"]:active {
  opacity: 0.3;
}

/* Header */

.page-header {
  background: linear-gradient(var(--basic-white) 40px, var(--special-yellow) 40px);
  padding: 0 60px;
  padding-top: 20px;
  padding-bottom: 18px;
}

.page-header-catalog {
  padding-bottom: 50px;
}

.page-header-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 40px;
  padding-top: 14px;
}

/* Site search */

.site-search {
  position: relative;
  display: flex;
}

.site-search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
}

.site-search-input {
  width: 355px;
  height: 50px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  background-color: transparent;
  padding: 15px 38px;
  padding-right: 20px;
  outline: none;
  border: none;
}

.site-search-input::placeholder {
  color: var(--black-30);
}

.site-search-input:hover::placeholder {
  color: var(--black-60);
}

.site-search-input:focus {
  box-shadow: 0 2px 0 var(--basic-black);
}

.site-search-input:focus + .site-search-button {
  visibility: visible;
}

.site-search-input::-webkit-search-cancel-button {
  display: none;
}

.site-search-button {
  visibility: hidden;
  width: 84px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 15px;
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px var(--basic-black);
  cursor: pointer;
}
.site-search-button:hover,
.site-search-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.site-search-button:active {
  visibility: visible;
  color: var(--white-30);
}

/* User navigation */

.user-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-nav-header {
  align-self: center;
  gap: 10px 41px;
}

.user-nav-header .user-nav-item-account {
  width: 240px;
  padding-right: 20px;
}

.user-nav-item-in {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5px;
}

.user-nav-link {
  position: relative;
}

.user-nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.user-nav-link-in {
  padding-left: 24px;
}

.user-nav-link-person {
  padding-left: 29px;
}

.user-nav-link-comparison {
  padding-left: 26px;
}

.user-nav-link-cart {
  padding-left: 24px;
}

.user-nav-header .user-nav-link {
  color: var(--basic-black);
}

.user-nav-header .user-nav-link:hover,
.user-nav-header .user-nav-link:focus {
  opacity: 0.6;
}

.user-nav-header .user-nav-link:active {
  opacity: 0.3;
}

.user-nav-header .user-nav-link-in::before,
.user-nav-header .user-nav-link-person::before {
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-user-black.svg");
}

.user-nav-header .user-nav-link-comparison::before {
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-chart-black.svg");
}

.user-nav-header .user-nav-link-cart::before {
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-cart-black.svg");
}

.user-nav-header .user-nav-link-out {
  color: var(--black-30);
}

.user-nav-header .user-nav-link-out:hover,
.user-nav-header .user-nav-link-out:focus {
  color: var(--black-60);
  opacity: 1;
}

.user-nav-header .user-nav-link-out:active {
  color: var(--basic-black);
}

.user-nav-footer .user-nav-link {
  color: var(--white-70);
}

/* Site navigation */

.site-nav {
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav-header {
  display: grid;
  grid-template-columns: 520px 140px 140px auto;
  gap: 20px;
}

.site-nav-header a {
  color: var(--basic-black);
}

.site-nav-header a:hover,
.site-nav-header a:focus {
  color: var(--black-60);
}

.site-nav-header a:active {
  color: var(--black-30);
}

.site-nav-item > a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
}

.site-nav-item-catalog {
  position: relative;
  max-width: 255px;
}

.site-nav-link-catalog {
  position: relative;
  padding-right: 35px;
}

.site-nav-link-catalog::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
}

.site-nav-header .site-nav-item:nth-child(4n) {
  justify-self: end;
}

.site-nav-item-catalog .sub-menu-container {
  display: none;
  position: absolute;
  left: -60px;
  width: 1160px;
  padding: 30px 60px 42px;
  background-color: var(--special-yellow);
}

.site-nav-item-catalog:hover .sub-menu-container,
.site-nav-item-catalog:focus-within .sub-menu-container {
  display: block;
}

.site-nav-item-catalog .sub-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px 61px;
  width: 530px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav-item-catalog .sub-menu-item-watch {
  grid-column: 2 / -1;
}

.site-nav-item-catalog .sub-menu-item-camera {
  grid-column: 1 / -1;
}

.site-nav-footer {
  display: flex;
  flex-wrap: wrap;
}

.site-nav-footer a {
  color: var(--basic-white);
}

/* Promo */

.promo {
  background: linear-gradient(var(--special-yellow) 146px, var(--basic-white) 146px);
  padding: 0 30px;
  padding-right: 60px;
}

.promo-slides {
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-slide-parameters {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
}

.parameters-termin {
  font-size: 13px;
  line-height: 15px;
}

.parameters-description {
  font-size: 36px;
  line-height: 42px;
}

/* Popular products */

.popular-products-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.popular-products-icon {
  background-color: var(--special-yellow);
}

.popular-products-name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--basic-black);
}

/* Services */

.services {
  background-color: var(--basic-grey-light);
}

.services-toggle:active,
.services-toggle-active,
.services-toggle-active:hover,
.services-toggle-active:focus {
  background: none;
  background-color: var(--basic-black);
  color: var(--special-yellow);
}

.services-slide-description {
  line-height: 30px;
}

.services-slides {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Manufacturers */

.manufacturers-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* About us */

.about-us-description {
  line-height: 28px;
}

.transport-companies-description {
  line-height: 28px;
}

.transport-companies-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.transport-companies-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
}

/* Contacts */

.contacts-description {
  line-height: 28px;
}

/* Catalog */

.filter-caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

/* Sort */

.sort-caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.sort-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-item a {
  font-size: 14px;
  line-height: 19px;
  font-weight: 40;
  color: var(--black-30);
}

.sort-item-current a {
  pointer-events: none;
  cursor: default;
}

.sort-item a:hover,
.sort-item a:focus {
  color: var(--black-60);
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item a:active {
  color: var(--basic-black);
}

/* Breadcrumbs */

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs-item a {
  font-size: 14px;
  line-height: 19px;
  color: var(--black-30);
}

.breadcrumbs-item-current {
  pointer-events: none;
  cursor: default;
}

.breadcrumbs-item:not(.breadcrumbs-item-current) a:hover,
.breadcrumbs-item:not(.breadcrumbs-item-current) a:focus {
  color: var(--black-60);
}

.breadcrumbs-item:not(.breadcrumbs-item-current) a:active {
  color: var(--black-10);
}

/* Filter */

.price-controls .price {
  font-size: 14px;
  line-height: 16px;
}

.filter legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
}

.filter-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-color-list,
.filter-bluetooth-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-color label,
.filter-bluetooth label {
  display: block;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

/* Products */

.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-info {
  font-family: "Gilroy", "Arial", sans-serif;
}

.product-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--basic-black);
}

.product-price {
  font-size: 16px;
  line-height: 18px;
}

.product-button {
  display: block;
}

.product-button-comparison {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

/* Pagination */

.pagination {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  background-color: var(--basic-grey-light);
  padding: 0;
  margin: 0;
  list-style: none;
}

.pages-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pages-item a {
  color: var(--black-30);
}

.pages-item-current a {
  pointer-events: none;
  cursor: default;
}

.pages-item a:hover,
.pages-item a:focus {
  color: var(--black-60);
}

.pages-item-current a,
.pages-item-current a:hover,
.pages-item a:active {
  color: var(--basic-black);
}

.pagination-toggle {
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-toggle:hover,
.pagination-toggle:focus {
  background-color: var(--special-grey);
}

.pagination-toggle:active {
  color: var(--black-30);
}

/* Footer */

.page-footer {
  background-color: var(--basic-dark);
}

.address-location,
.address-phone a {
  color: var(--basic-white);
}

.socials {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Modal */

.modal {
  display: none;
  background-color: var(--basic-white);
}

/* Map */

.map-close {
  background-color: var(--special-yellow-dark);
  border: 0;
}

/* Feedback */

.feedback-close {
  background-color: var(--special-yellow-dark);
  border: 0;
}

.feedback-item label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.feedback-item input,
.feedback-item textarea {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--black-40);
  background-color: var(--basic-grey-pale);
  border: none;
}

.feedback-item textarea {
  resize: none;
}
